.container-lead-intro {
    max-width: 984px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 1024px) {
    .container-lead-intro {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .container-lead-intro {
        width: 100%;
    }
}
