.intro {
    max-width: 690px;
    padding: 0 294px 92px 0;
}

@media (max-width: 1024px) {
    .intro {
        padding-right: 238px;
    }
}

@media (max-width: 1000px) {
    .intro {
        max-width: 720px;
        padding-right: 24px;
        padding-left: 24px;
        padding-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .intro {
        max-width: 288px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 64px;
    }
}